# Ignore all files and directories by default.
**

# Un-ignore our filters and related files/directories. Note that you need to
# un-ignnore the directory itself in addition to any items in it for Git not
# ignore any files within it.
!/AmbientImpactItemFilter
!/AmbientImpactItemFilter/**
!Ambient.Impact*.filter
!/README.md
